<h1> Links </h1>

<ul id='links'>
  <% @link.each do |link| %>
    <li>Title: <%= link.title %>
        	URL:<a href="<%=link.url%>"><%=link.url%></a>
    </li>
  <% end %>
</ul>

<a href="/new"> Add new links </a>

<!-- post from '/' with title and url
use params - session variables
to add new link to DB
Confirm message 'link added'-->
